

//////////
//button and #inputbox size
//////////
$bheight: 50px;
$bwidth: 200px;
$margin-top-input: 50px;

$font-size: 25px;
$ninja-font: serif;
$cat-cursor: url("http://downloads.totallyfreecursors.com/thumbnails/cat12.gif"), auto;

//////////
//button and #inputBox and #imageContainer
//////////
$border-radius-b: 4px;



//////////
//#imageContainer
//////////
$border: solid white 2px;
$ninja-green: #8cc63c;
$div-font-color: white;
$ninja-font: serif;
$div-fontweight: normal;
$image-pic-width: 300px;
$image-pic-height: auto;

